html,
* {
    padding: 0;
    margin: 0;
}

body {
    height: 1000px;
    font-family: "IBM Plex Serif";
    font-weight: bold;
    font-size: 22pt;
}

a {
    color: black;
    text-decoration: none;
}



.menu {
    display: flex;
    gap: 100px;
    background: #F2D673;
    height: 120%;
    justify-content: center;
    align-items: center;
    height: 90px;

}

.menu-link::after {
    content: '';
    display: flex;
    width: 0%;
    height: 5px;
    border-radius: 10px;
    background-color: black;
    position: sticky;
    transition: .2s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.menu-active::after {
    width: 100%;
}

.menu-left {
    border-radius: 0 1000px 1000px 0;
}

.menu-right {
    border-radius: 1000px 0px 0px 1000px;

}

header {
    display: flex;
    justify-content: space-between;
    font-family: "IBM Plex Serif";
    font-weight: bold;
    font-size: 22pt;
    align-items: flex-end;
    margin-top: 20px;
}

.side {
    width: 120%;
}

.logo {
    width: 250px;
}

.logo-box {
    display: flex;
}

.info-text {
    text-align: center;
}

.info {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 10%;
    align-items: center;

}

.contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-icon {
    width: 80px;
}

.contact-icons {
    display: flex;
    gap: 35px;
    margin-bottom: 20px;
}

.profile-icons {
    width: 80px;
}

.info-right {
    display: flex;

}

.fon {
    position: absolute;
}

.zapiski-foto {
    width: 570px;
    height: auto;
    position: absolute;
    padding-right: 100px;
}

.zapiski {
    display: flex;
    justify-content: flex-end;
}

.text-uslugi {
    font-family: 'Pacifico';
    font-size: 40pt;

}

@font-face {
    font-family: Pacifico;
    src: url(/src/Pacifico/Pacifico-Regular.ttf);
}

#ispoved {
    top: 266%;
    right: 3%;
}

#two-foto {
    top: 278%;
    right: 23%;
}

#three-foto {
    top: 296%;
    right: 6%;
}

.emblem {
    position: absolute;
    left: 104px;
    top: 270%;
}

.text-uslugi {
    text-align: center;
}

.right-part-zapiski {
    position: absolute;
    top: 298%;
    left: 9%;
}

.liniy {
    width: 500px;
    height: 5px;
    background: black;
    border-radius: 50px;
    position: absolute;
    top: 320%;
    right: 64%;
}

.button-zapiski {
    background: #F2D673;
    width: 20px;
    height: 50px;
}